<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      rubylist > jobs > accounting
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="newest col-md-1">newest</div>
    <div class="oldest col-md-1">oldest</div>
    <div class="highest-price col-md-1">highest-price</div>
    <div class="lowest-price col-md-1" >lowest-price</div>
  </div>
  <hr>
  <ul class="list-margin">
    <% if @listings.present? %>
      <% @listings.each do |listing| %>
        <li>
          <span>
            <%= listing.created_at.strftime('%B %d, %Y') %>
          </span>
          <%= link_to listing.title, listing %> (<%= listing.city %>, <%= listing.state %>)
        </li>
      <% end %>
    <% else %>
      <p>No listings found!</p>
    <% end %>
  </ul>
</div>
