<div class="container">
  <%= link_to 'Home', root_path %> > scams

  <hr>
  <h1>I am a scams page</h1>
  <hr>
  <h2>Am I helping you?</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat dicta ipsa possimus laboriosam sunt dignissimos, voluptas libero cupiditate laudantium qui accusamus labore repellat unde dolores delectus, quisquam est odio. Sunt.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo accusantium reiciendis perspiciatis ullam cupiditate reprehenderit repudiandae optio a corporis facere quam placeat iusto distinctio fugiat cumque sed facilis, quasi consequuntur.</p>
  <p>Ipsa similique, doloribus consectetur vitae officia hic. Earum, assumenda quidem. Omnis atque perferendis aspernatur, animi debitis accusamus harum placeat, delectus ut, necessitatibus cumque voluptatum hic? Quaerat veritatis voluptas repellat, expedita!</p>
  <p>Sint reiciendis id, autem vero vitae doloribus atque reprehenderit ex excepturi, cumque incidunt nostrum ipsa pariatur cum ab ut sunt nesciunt eaque perferendis earum dolore eligendi repudiandae! Repudiandae nam, itaque.</p>
  <p>Unde incidunt autem ducimus doloribus, quasi tempora, quia magnam optio ea nulla est ut illo saepe delectus ad laudantium sapiente, explicabo facere adipisci voluptate esse. Ipsum nihil, molestias quidem eveniet.</p>
</div>
